@import url("common.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body {
    font-size: 17px;
    font-family: "Roboto","Noto",sans-serif;
}

header {
    background: red;
    /*font-size: 1.6rem;*/
    height: 56px;
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    display: flex;
}

header .menu-open {
    flex: 5;

    border: 4px solid orange;

}
header .menu-open .fa-bars {
    font-size: 50px;
}
header .logo {
    flex: 15;
    border: 4px solid yellow;
    margin-right: 20%;
}
header .logo img {
    height: 100%;
}
header .serch-div {
    flex: 40;
    border: 4px solid yellowgreen;
}
header .mic {
    flex: 5;
    border: 4px solid green;
    margin-right: 20%;
}
header .create {
    flex: 10;
    border: 4px solid blue;
}
header .alarm {
    flex: 5;
    border: 4px solid skyblue;
}
header .profile {
    flex: 5;
    border: 4px solid purple;
}

main {
    background: aqua;
    width: 80%;
    height: 2000px;
    position: absolute;
    top: 56px;
    right:0;
}
main .category {
    height: 100px;
    border: 4px solid red;
}
main .video {
    height: 600px;
    border: 4px solid yellow;
}
main .shorts {
    height: 800px;
    border: 4px solid green;
}

section {
    position: fixed;
    background: blue;
    width: 20%;
    height: 2000px;
}
section .gnb {
    font-size: 2rem;
}
section .gnb .text1{
    height: 300px;
    border: 4px solid black;
}
section .gnb .text2{
    height: 300px;
    border: 4px solid black;}
section .gnb .text3{
    height: 300px;
    border: 4px solid black;}
section .gnb .text4{
    height: 300px;
    border: 4px solid black;}
section .gnb .text5{
    height: 300px;
    border: 4px solid black;}
section .gnb .text6{
    height: 300px;
    border: 4px solid black;}
section .gnb .text7{
    height: 300px;
    border: 4px solid black;}
/*header .logo {*/
/*    !*border: 3px solid yellow;*!*/
/*    flex: 1;*/
/*}*/
/*header .logo img {*/
/*    height: 60px;*/
/*}*/
/*header .intro {*/
/*    !*border: 3px solid blue;*!*/
/*    flex: 4;*/
/*    margin-left: 30px;*/
/*}*/
/*header .menu-open {*/
/*    !*border: 3px solid orange;*!*/
/*    flex: 1;*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*    align-items: center;*/
/*    padding-right: 20px;*/
/*}*/
/*header .menu-open .menu-txt {*/
/*    font-size: 20px;*/
/*    margin-right: 15px;*/
/*}*/
/*header .menu-open .bar-icon {*/
/*    font-size: 33px;*/
/*}*/
/*header .gnb {*/
/*    background: #000000;*/
/*    color: #6a6a6a;*/
/*    font-size: 40px;*/
/*    padding: 70px 100px;*/
/*    position: fixed;*/
/*    right: -100%;*/
/*    top: 0;*/
/*    height: 100vh;*/
/*    display: flex;*/
/*    transition: 0.6s;*/
/*}*/
/*header .gnb.on {*/
/*    right: 0;*/
/*}*/
/*header .gnb .close{*/
/*    !*border: 3px solid yellow;*!*/
/*    color: #ffffff;*/
/*    order: 1;*/
/*}*/
/*header .gnb ul{*/
/*    !*border: 3px solid aqua;*!*/
/*    margin-right: 200px;*/
/*}*/
/*header .gnb ul li {*/
/*    font-weight: 700;*/
/*    margin-bottom: 20px;*/
/*}*/
/*header .gnb ul li:hover {*/
/*    color: #fff;*/
/*}*/

/*!* section visual style *!*/
/*section.visual {*/

/*    background: url("https://res09.bignox.com/appcenter/kr/gp-game-image/aa03d247029b17aa90699fc9d4fff8cf")*/
/*no-repeat center/cover;*/
/*    height: 100vh;*/
/*    display: flex;*/

/*    align-items: center;*/
/*}*/
/*section.visual .overlay {*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    background: rgba(0,0,0, 0.3);*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*}*/
/*section.visual .txt {*/
/*    !*background: red;*!*/
/*    color: #fff;*/
/*    font-size: 18px;*/
/*    margin-left: 10%;*/
/*    text-shadow: 3px 3px 5px #000000;*/
/*    z-index: 20;*/
/*}*/
/*section.visual .txt h3 {*/
/*    margin: 30px 0;*/
/*    font-size: 64px;*/
/*    font-weight: 700;*/
/*    line-height: 1.3;*/
